h3 {
  color: skyblue;
}

h3:hover{
  color: white;
}

.logo {
  display: flex;
  margin-left: 10px;
}

.head {
  background-color: black;
  display: flex;
}

body {
  margin: 0px;
}

.link{
  margin-left: 75%;
}

.title{
  margin-left: 10px;
}